<div class="col-md-6">
  <h2 class="text-center">Editar Usuário</h2>
  <form [formGroup]="editForm" (ngSubmit)="editarUsuario()">
    <div class="form-group">
      <label for="id">Id:</label>
      <input type="number" formControlName="id" placeholder="Id" name="id" class="form-control" id="id">
    </div>

    <div class="form-group">
      <label for="nome">Name:</label>
      <input formControlName="nome" placeholder="Nome" name="nome" class="form-control" id="nome">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <button class="btn btn-success">Editar</button>
  </form>
</div>